$light-image-background: #2f8960;
$dark-image-background: #206646;

$main-background-color: rgba(240, 247, 227, 0.05);
$header-background-color: #f4f5f2;
$footer-background-color: #ebece7;

$main-text-color: #206646;
$accent-text-color: #e02d2d;
$hover-text-color: #ff0000;

$block-shadow-color: rgba(4, 13, 80, 0.2);
$block-shadow-color-hover: rgba(4, 13, 80, 0.3);
$block-shadow-color-hover-portrait: rgba(4, 13, 80, 0.1);
